@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lansui';
    src: url('/fonts/Lansui.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  